<html>
    <body>
        <div class="ResultsTable">
            <h1>User List</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Website</th>
                        <th class="emptytab"></th>
                    </tr>
                    <tbody class="tableBody">
                        <tr *ngFor="let User of users" class="table-content">
                            <td>{{User.name}}</td>
                            <td>{{User.email}}</td>
                            <td>{{User.website}}</td>
                            <button class="nav-link" [routerLink]="['/data', User.id]">more info.</button> 
                            <!-- on click send User.id -->
                        </tr>
                    </tbody>
                </table>
        </div>
    </body>
</html>
